<%= link_to 'サインイン' ,  new_user_session_path  %>
<%= link_to 'ユーザー登録', new_user_registration_path %>
<h1>Home page</h1>
<% if user_signed_in? %>
<%= link_to '本一覧をみる' %>
<%= link_to('Logout', destroy_user_session_path, method: :delete) %>
<% end %>